@import './common.scss';

.admin_pwd .mint-button{
  padding: 0;
  font-size: rem(14);
  height: rem(80);
  line-height: rem(80);
  width: 100%;
}
.html-span img{
  display: inline-block;
  width: rem(30);
}